*{
    box-sizing: border-box;
}

body{
    background-color: rgb(158, 158, 210);
    font-family: sans-serif;
    margin: 0;
}

.container{
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
}

header{
    background-image: url('car-jpg.jpg');
    color: white;
    display: flex;
    min-height:100vh;
    background-position: center center;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav .log{
    font-size: 2rem;
    padding: 1rem;
}
nav ul{
    display: flex;
    padding: 0;
    list-style: none;
}
nav li {

}

nav li a{
    color: white;
    padding: 1rem;
    text-decoration: none;

}
.selected{
    font-weight: bold;
}

.highlight{
    background-color: blue;
}